# Copyright (c) 2026 jeck chen <baidxi404629@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config RTC_SUN8I_V3S
	bool "Allwinner SUN8I V3s RTC driver"
	default y
	depends on DT_HAS_ALLWINNER_SUN8I_V3_RTC_ENABLED
	help
	  Enable RTC driver for Allwinner SUN8I V3s SoC.
	  This driver supports the on-chip RTC with date/time and
	  countdown alarm functionality.
