# Copyright (c) 2025, juno
# SPDX-License-Identifier: Apache-2.0

config RFID
	bool "RFID drivers"
	help
	  Enable support for RFID drivers.

if RFID

source "drivers/rfid/Kconfig.mfrc522"

endif # RFID