# Copyright (c) 2025, juno
# SPDX-License-Identifier: Apache-2.0

config RFID_MFRC522
	bool "MFRC522 RFID reader driver"
	default y if DT_HAS_NXP_MFRC522_SPI_ENABLED || DT_HAS_NXP_MFRC522_I2C_ENABLED
	depends on GPIO
	help
	  Enable MFRC522 RFID reader driver.

if RFID_MFRC522

choice MFRC522_BUS
	prompt "MFRC522 on bus"
	default RFID_MFRC522_BUS_SPI if DT_HAS_NXP_MFRC522_SPI_ENABLED
	default RFID_MFRC522_BUS_I2C if DT_HAS_NXP_MFRC522_I2C_ENABLED

config RFID_MFRC522_BUS_SPI
	bool "spi"
	depends on SPI
	depends on DT_HAS_NXP_MFRC522_SPI_ENABLED
	select RFID_MFRC522_SPI

config RFID_MFRC522_BUS_I2C
	bool "i2c"
	depends on I2C
	depends on DT_HAS_NXP_MFRC522_I2C_ENABLED
	select RFID_MFRC522_I2C

endchoice

config RFID_MFRC522_SPI
	bool
	

config RFID_MFRC522_I2C
	bool
	

config RFID_LOG_LEVEL
	int "RFID log level"
	default 3
	help
	  RFID log level.

config RFID_INIT_PRIORITY
	int "RFID init priority"
	default 90
	help
	  RFID init priority.

config RFID_MFRC522_TRIGGER
	bool "Enable MFRC522 trigger support"
	depends on RFID_MFRC522
	help
	  Enable trigger support for the MFRC522 driver.

endif # RFID_MFRC522
