/*
 * Copyright (c) 2026 jeck chen <baidxi404629@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/allwinner,sun8i-v3s-pinctrl.h>
#include <arm/armv7-a.dtsi>
#include <allwinner/sun8i-v3s.dtsi>

/ {
	model = "Sipeed Lichee Zero";
	compatible = "sipeed,lichee-zero", "allwinner,sun8i-v3s";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &ddr0;
		zephyr,entropy = &rng;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_0 {
			gpios = <&gpiog 0 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		blue_led: led_1 {
			gpios = <&gpiog 1 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
		red_led: led_2 {
			gpios = <&gpiog 2 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
	};
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <115200>;
};

&timer0 {
	status = "okay";

	counter0: counter@0 {
		status = "okay";
	};
};

&pinctrl {
	status = "okay";

	default_state {
		i2c0_pins: i2c0-pins {
			pinmux = <SUN8I_V3S_PINMUX(PORT_B, 4, FUNC_PB_TWI0)>,
				 <SUN8I_V3S_PINMUX(PORT_B, 5, FUNC_PB_TWI0)>;
		};

		spi0_pins: spi0-pins {
			pinmux = <SUN8I_V3S_PINMUX(PORT_C, 0, FUNC_PC_SPI0)>,
				 <SUN8I_V3S_PINMUX(PORT_C, 1, FUNC_PC_SPI0)>,
				 <SUN8I_V3S_PINMUX(PORT_C, 2, FUNC_PC_SPI0)>,
				 <SUN8I_V3S_PINMUX(PORT_C, 3, FUNC_PC_SPI0)>;
		};

		uart0_pins: uart0-pins {
			pinmux = <SUN8I_V3S_PINMUX(PORT_B, 8, FUNC_PB_UART0)>,
						<SUN8I_V3S_PINMUX(PORT_B, 9, FUNC_PB_UART0)>;
			drive-strength = <3>;
			allwinner,pull = "pull_up";
		};

		mmc0_pins: mmc0-pins {
			pinmux = <SUN8I_V3S_PINMUX(PORT_F, 0, FUNC_PF_SDC0)>,
				 <SUN8I_V3S_PINMUX(PORT_F, 1, FUNC_PF_SDC0)>,
				 <SUN8I_V3S_PINMUX(PORT_F, 2, FUNC_PF_SDC0)>,
				 <SUN8I_V3S_PINMUX(PORT_F, 3, FUNC_PF_SDC0)>,
				 <SUN8I_V3S_PINMUX(PORT_F, 4, FUNC_PF_SDC0)>,
				 <SUN8I_V3S_PINMUX(PORT_F, 5, FUNC_PF_SDC0)>;
			drive-strength = <3>;
			allwinner,pull = "pull_up";
		};
	};
};

&gpiob {
	status = "okay";
};

&gpiof {
	status = "okay";
};

&gpiog {
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	clock-source = <&osc24M>;
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usbphy {
	dr-mode = "otg";
	usb0_id_det-gpios = <&gpiof 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	status = "okay";
};

&usbotg {
	status = "okay";
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	frequency = <DT_FREQ_M(100)>;
	status = "okay";
};

&usbphy {
	status = "okay";
};

&emac {
	allwinner,leds-active-low;
	status = "okay";
};

&mdio {
	status = "okay";
};

&crypto {
	status = "okay";
};

&rng {
	status = "okay";
};

&rtc {
	status = "okay";
};
