/*
 * Copyright (c) 2025 Shan Pen <bricle031@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7rs/stm32h7r7X8.dtsi>
#include <st/h7/stm32h7r7l8hxh-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Ruiside Electronic ART-Pi2 board";
	compatible = "ruiside,art-pi2";

	chosen {
		zephyr,console = &uart4;
		zephyr,shell-uart = &uart4;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &ext_flash_ctrl;
	};

	ext_flash_mem: memory@70000000 {
    compatible = "zephyr,memory-region";
    reg = <0x70000000 DT_SIZE_M(512)>;
    zephyr,memory-region = "EXTMEM";
    zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_FLASH)>;
  };

	leds: leds {
		compatible = "gpio-leds";

		red_led: led_1 {
			gpios = <&gpioo 1 GPIO_ACTIVE_HIGH>;
			label = "User LED1";
		};

		blue_led: led_2 {
			gpios = <&gpioo 5 GPIO_ACTIVE_LOW>;
			label = "User LED2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_button: button_0 {
			label = "User";
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &red_led;
		led1 = &blue_led;
		sw0 = &user_button;
		watchdog0 = &iwdg;
		die-temp0 = &die_temp;
		volt-sensor0 = &vref;
		volt-sensor1 = &vbat;
	};
};

&dtcm {
	reg = <0x20000000 DT_SIZE_K(64)>;
};

&clk_hsi48 {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&pll {
	div-m = <12>;
	mul-n = <300>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	div-s = <2>;
	div-t = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&pll3 {
    div-m = <24>;
    mul-n = <240>;
    div-q = <10>;
    div-r = <1>;
    div-p = <2>;
    div-s = <2>;
    div-t = <2>;
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(300)>;
	dcpre = <1>;
	hpre = <1>;
	ppre1 = <2>;
	ppre2 = <2>;
	ppre4 = <2>;
	ppre5 = <2>;
};

&pwr {
	power-supply = "smps-direct";
};

&uart4 {
	pinctrl-0 = <&uart4_tx_pd1 &uart4_rx_pd0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rng {
	status = "okay";
};

&iwdg {
	status = "okay";
};

&wwdg {
	status = "okay";
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};

&iocell {
	status = "okay";

	vddxspi1 {
		hslv-mode = "on";
		compensation-enabled;
	};

	vddxspi2 {
		hslv-mode = "on";
		compensation-enabled;
	};
};

&xspi2 {
  pinctrl-0 = <&xspim_p2_dqs0_pn0 &xspim_p2_ncs1_pn1
               &xspim_p2_io0_pn2 &xspim_p2_io1_pn3
               &xspim_p2_io2_pn4 &xspim_p2_io3_pn5
               &xspim_p2_io4_pn8 &xspim_p2_io5_pn9
               &xspim_p2_io6_pn10 &xspim_p2_io7_pn11
               &xspim_p2_clk_pn6>;
  pinctrl-names = "default";
  status = "okay";

  ext_flash_ctrl: xspi-nor-flash@0 {
    compatible = "st,stm32-xspi-nor";
    reg = <0>;
    size = <DT_SIZE_M(512)>;
    ospi-max-frequency = <DT_FREQ_M(50)>;
    spi-bus-width = <XSPI_SPI_MODE>;
    data-rate = <XSPI_STR_TRANSFER>;
    four-byte-opcodes;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <1>;

    ext_flash0:ext-flash@0 {
      compatible = "soc-nv-flash";
      reg = <0x0 DT_SIZE_M(512)>;
      write-block-size = <1>;
      erase-block-size = <DT_SIZE_K(4)>;

      partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@0 {
			label = "storage_partition";
			reg = <0x00000000 0x2000>;
		};
      };
    };
  };
};

&otghs_phy {
    status = "okay";
};

zephyr_udc0:&usbotg_hs {
    pinctrl-0 = <&usb_otg_hs_dp_pm6 &usb_otg_hs_dm_pm5>;
    pinctrl-names = "default";

    status = "okay";

    cdc_acm_uart0:cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};