# Copyright (c) 2026 jeck chen  <baidxi404629@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config MUSB_GLUE_SUNXI
	bool "Allwinner Sunxi MUSB glue layer"
	default y
	depends on DT_HAS_ALLWINNER_SUN8I_V3S_MUSB_ENABLED
	select MUSB
	help
	  Allwinner Sunxi MUSB glue layer.
	  Provides register mapping and platform operations for
	  Allwinner V3s/H3 SoCs.
